<div id="name">
  <h1 style="text-align: center"><%= @facade.vendor.name %></h1>
</div>

<div id="vendor-info">
<p> Contact Info: <br>
    Name: <%= @facade.vendor.contact_name %> <br>
    Phone: <%= @facade.vendor.contact_phone %> </p>
<p> Credit Accepted: <%= @facade.vendor.credit_accepted %> </p>
<p> Description: <%= @facade.vendor.description %> </p>
</div>